.password-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-list ul {
  display: flex;
  justify-content: start;
}

.password-list ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}
.password-list ul li > input {
  margin-right: 5px;
}

.password-input,
.password-body-input {
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--secondary-color);
  padding: 0.5rem;
}

.password-body {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}
